

# BEGIN WPSuperCache
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /techblog/
AddDefaultCharset UTF-8
RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !=POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress|wp-postpass_).*$
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{DOCUMENT_ROOT}/home/nfriedly/nfriedly.com/techblog/wp-content/cache/supercache/%{HTTP_HOST}/techblog/$1/index.html.gz -f
RewriteRule ^(.*) /home/nfriedly/nfriedly.com/techblog/wp-content/cache/supercache/%{HTTP_HOST}/techblog/$1/index.html.gz [L]

RewriteCond %{REQUEST_URI} !^.*[^/]$
RewriteCond %{REQUEST_URI} !^.*//.*$
RewriteCond %{REQUEST_METHOD} !=POST
RewriteCond %{QUERY_STRING} !.*=.*
RewriteCond %{HTTP:Cookie} !^.*(comment_author_|wordpress|wp-postpass_).*$
RewriteCond %{DOCUMENT_ROOT}/home/nfriedly/nfriedly.com/techblog/wp-content/cache/supercache/%{HTTP_HOST}/techblog/$1/index.html -f
RewriteRule ^(.*) /home/nfriedly/nfriedly.com/techblog/wp-content/cache/supercache/%{HTTP_HOST}/techblog/$1/index.html [L]
</IfModule>

# END WPSuperCache

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /techblog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /techblog/index.php [L]
</IfModule>

# END WordPress
